<div class="col-md-12 removePadding" ng-controller="MainCtrl">
<top></top>
<carrier-details cdata="carrierData"></carrier-details>
<div class=" col-xs-12">
  <line-graph linedata="lineData" years="years"></line-graph>
  <matches-countries data="oppositionTeamData" labels="oppositionTeamLabels"></matches-countries>
</div>
<div class="col-xs-12">
  <conversion pielabels="pielabels"></conversion>
  <runs-inyear runs="runsInyears" year="years"></runs-inyear>
</div>
  <quotes> </quotes>
  <conclusion> </conclusion>
</div>
